*{margin:0; padding:0; box-sizing: border-box; font: normal 12pt mono;}

h1{
	text-align: center;
	margin: 24pt;
	font-size: 28pt;
    width: 100vw;
}
body{
	background: rgb(255, 244, 212);
	color:rgb(48, 38, 19);
	max-width: 80ch;
	margin: auto;
}
section{
	width: 40ch;
	background: rgb(245, 230, 201);
	color:#333; padding:1ch; 
	border-radius: 4pt; margin: 2ch; 
	border: 1px solid #0000000f; 
	display: inline-block;
	border: 1px solid rgba(0,0,0, 0.1);
    vertical-align: top;
}
div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}
img, video, iframe{
	max-width:100%;
	max-height:50vw; 
	border-radius: 4px; 
	margin:auto;
	display:block;
}

.lab section{background:white}
.animation section{background: rgb(131 143 255 / 23%)}
video.header {
    width: 100%;
    object-fit: cover;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery a {
    padding: 16px;
}