* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v22_2 {
  width: 100%;
  height: 6023px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v22_3 {
  width: 639px;
  height: 359px;
  background: url("../images/v22_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 605px;
  left: 972px;
  overflow: hidden;
}
.v22_4 {
  width: 292px;
  height: 292px;
  background: url("../images/v22_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1074px;
  left: 87px;
  overflow: hidden;
}
.v22_5 {
  width: 394px;
  height: 295px;
  background: url("../images/v22_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1004px;
  overflow: hidden;
}
.v22_6 {
  width: 557px;
  height: 342px;
  background: url("../images/v22_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 499px;
  overflow: hidden;
}
.v22_7 {
  width: 498px;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1074px;
  left: 506px;
  overflow: hidden;
}
.v22_10 {
  width: 487px;
  height: 274px;
  background: url("../images/v22_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 980px;
  left: 1124px;
  overflow: hidden;
}
.v22_11 {
  width: 343px;
  height: 237px;
  background: url("../images/v22_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1270px;
  left: 1367px;
  overflow: hidden;
}
.v22_9 {
  width: 547px;
  height: 343px;
  background: url("../images/v22_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 1407px;
  overflow: hidden;
}
.v22_8 {
  width: 345px;
  height: 299px;
  background: url("../images/v22_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 775px;
  left: 38px;
  overflow: hidden;
}
.v22_12 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 153px;
  left: 82px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v22_15 {
  width: 85px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 71px;
  left: 168px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v22_13 {
  width: 233px;
  height: 182px;
  background: url("../images/v22_13.png");
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 238px;
  border: 6px solid rgba(0,0,0,1);
}
.v22_16 {
  width: 239px;
  height: 68px;
  background: url("../images/v22_16.png");
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 284px;
  border: 6px solid rgba(0,0,0,1);
}
.v22_33 {
  width: 100%;
  height: 361px;
  background: url("../images/v22_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2141px;
  left: 168px;
  overflow: hidden;
}
.v22_30 {
  width: 642px;
  height: 361px;
  background: url("../images/v22_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  overflow: hidden;
}
.v22_32 {
  width: 100%;
  height: 361px;
  background: url("../images/v22_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_27 {
  width: 642px;
  height: 361px;
  background: url("../images/v22_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_28 {
  width: 642px;
  height: 361px;
  background: url("../images/v22_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 643px;
  overflow: hidden;
}
.v22_29 {
  width: 642px;
  height: 361px;
  background: url("../images/v22_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1243px;
  overflow: hidden;
}
.v22_31 {
  width: 642px;
  height: 361px;
  background: url("../images/v22_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2527px;
  overflow: hidden;
}
.v22_34 {
  width: 388px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 319px;
  left: 1010px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v22_35 {
  width: 258px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 199px;
  left: 1458px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
